<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="ColumnOrder">
            <entry key="array-size" type="xint" value="140"/>
            <entry key="0" type="xstring" value="date"/>
            <entry key="1" type="xstring" value="reference"/>
            <entry key="2" type="xstring" value="price_index_fao"/>
            <entry key="3" type="xstring" value="coconut_beginning_stocks"/>
            <entry key="4" type="xstring" value="coconut_crush"/>
            <entry key="5" type="xstring" value="coconut_domestic_consumption"/>
            <entry key="6" type="xstring" value="coconut_ending_stocks"/>
            <entry key="7" type="xstring" value="coconut_exports"/>
            <entry key="8" type="xstring" value="coconut_feed_waste_dom_cons"/>
            <entry key="9" type="xstring" value="coconut_food_use_dom_cons"/>
            <entry key="10" type="xstring" value="coconut_imports"/>
            <entry key="11" type="xstring" value="coconut_industrial_dom_cons"/>
            <entry key="12" type="xstring" value="coconut_price"/>
            <entry key="13" type="xstring" value="coconut_production"/>
            <entry key="14" type="xstring" value="coconut_total_distribution"/>
            <entry key="15" type="xstring" value="coconut_total_supply"/>
            <entry key="16" type="xstring" value="cottonseed_beginning_stocks"/>
            <entry key="17" type="xstring" value="cottonseed_crush"/>
            <entry key="18" type="xstring" value="cottonseed_domestic_consumption"/>
            <entry key="19" type="xstring" value="cottonseed_ending_stocks"/>
            <entry key="20" type="xstring" value="cottonseed_exports"/>
            <entry key="21" type="xstring" value="cottonseed_feed_waste_dom_cons"/>
            <entry key="22" type="xstring" value="cottonseed_food_use_dom_cons"/>
            <entry key="23" type="xstring" value="cottonseed_imports"/>
            <entry key="24" type="xstring" value="cottonseed_industrial_dom_cons"/>
            <entry key="25" type="xstring" value="cottonseed_production"/>
            <entry key="26" type="xstring" value="cottonseed_total_distribution"/>
            <entry key="27" type="xstring" value="cottonseed_total_supply"/>
            <entry key="28" type="xstring" value="olive_beginning_stocks"/>
            <entry key="29" type="xstring" value="olive_crush"/>
            <entry key="30" type="xstring" value="olive_domestic_consumption"/>
            <entry key="31" type="xstring" value="olive_ending_stocks"/>
            <entry key="32" type="xstring" value="olive_exports"/>
            <entry key="33" type="xstring" value="olive_feed_waste_dom_cons"/>
            <entry key="34" type="xstring" value="olive_food_use_dom_cons"/>
            <entry key="35" type="xstring" value="olive_imports"/>
            <entry key="36" type="xstring" value="olive_industrial_dom_cons"/>
            <entry key="37" type="xstring" value="olive_production"/>
            <entry key="38" type="xstring" value="olive_total_distribution"/>
            <entry key="39" type="xstring" value="olive_total_supply"/>
            <entry key="40" type="xstring" value="palm kernel_beginning_stocks"/>
            <entry key="41" type="xstring" value="palm kernel_crush"/>
            <entry key="42" type="xstring" value="palm kernel_domestic_consumption"/>
            <entry key="43" type="xstring" value="palm kernel_ending_stocks"/>
            <entry key="44" type="xstring" value="palm kernel_exports"/>
            <entry key="45" type="xstring" value="palm kernel_feed_waste_dom_cons"/>
            <entry key="46" type="xstring" value="palm kernel_food_use_dom_cons"/>
            <entry key="47" type="xstring" value="palm kernel_imports"/>
            <entry key="48" type="xstring" value="palm kernel_industrial_dom_cons"/>
            <entry key="49" type="xstring" value="palm kernel_price"/>
            <entry key="50" type="xstring" value="palm kernel_production"/>
            <entry key="51" type="xstring" value="palm kernel_total_distribution"/>
            <entry key="52" type="xstring" value="palm kernel_total_supply"/>
            <entry key="53" type="xstring" value="palm_beginning_stocks"/>
            <entry key="54" type="xstring" value="palm_crush"/>
            <entry key="55" type="xstring" value="palm_domestic_consumption"/>
            <entry key="56" type="xstring" value="palm_ending_stocks"/>
            <entry key="57" type="xstring" value="palm_exports"/>
            <entry key="58" type="xstring" value="palm_feed_waste_dom_cons"/>
            <entry key="59" type="xstring" value="palm_food_use_dom_cons"/>
            <entry key="60" type="xstring" value="palm_imports"/>
            <entry key="61" type="xstring" value="palm_industrial_dom_cons"/>
            <entry key="62" type="xstring" value="palm_price"/>
            <entry key="63" type="xstring" value="palm_production"/>
            <entry key="64" type="xstring" value="palm_total_distribution"/>
            <entry key="65" type="xstring" value="palm_total_supply"/>
            <entry key="66" type="xstring" value="peanut_beginning_stocks"/>
            <entry key="67" type="xstring" value="peanut_crush"/>
            <entry key="68" type="xstring" value="peanut_domestic_consumption"/>
            <entry key="69" type="xstring" value="peanut_ending_stocks"/>
            <entry key="70" type="xstring" value="peanut_exports"/>
            <entry key="71" type="xstring" value="peanut_feed_waste_dom_cons"/>
            <entry key="72" type="xstring" value="peanut_food_use_dom_cons"/>
            <entry key="73" type="xstring" value="peanut_imports"/>
            <entry key="74" type="xstring" value="peanut_industrial_dom_cons"/>
            <entry key="75" type="xstring" value="peanut_price"/>
            <entry key="76" type="xstring" value="peanut_production"/>
            <entry key="77" type="xstring" value="peanut_total_distribution"/>
            <entry key="78" type="xstring" value="peanut_total_supply"/>
            <entry key="79" type="xstring" value="rapeseed_beginning_stocks"/>
            <entry key="80" type="xstring" value="rapeseed_crush"/>
            <entry key="81" type="xstring" value="rapeseed_domestic_consumption"/>
            <entry key="82" type="xstring" value="rapeseed_ending_stocks"/>
            <entry key="83" type="xstring" value="rapeseed_exports"/>
            <entry key="84" type="xstring" value="rapeseed_feed_waste_dom_cons"/>
            <entry key="85" type="xstring" value="rapeseed_food_use_dom_cons"/>
            <entry key="86" type="xstring" value="rapeseed_imports"/>
            <entry key="87" type="xstring" value="rapeseed_industrial_dom_cons"/>
            <entry key="88" type="xstring" value="rapeseed_price"/>
            <entry key="89" type="xstring" value="rapeseed_production"/>
            <entry key="90" type="xstring" value="rapeseed_total_distribution"/>
            <entry key="91" type="xstring" value="rapeseed_total_supply"/>
            <entry key="92" type="xstring" value="soybean_beginning_stocks"/>
            <entry key="93" type="xstring" value="soybean_crush"/>
            <entry key="94" type="xstring" value="soybean_domestic_consumption"/>
            <entry key="95" type="xstring" value="soybean_ending_stocks"/>
            <entry key="96" type="xstring" value="soybean_exports"/>
            <entry key="97" type="xstring" value="soybean_feed_waste_dom_cons"/>
            <entry key="98" type="xstring" value="soybean_food_use_dom_cons"/>
            <entry key="99" type="xstring" value="soybean_imports"/>
            <entry key="100" type="xstring" value="soybean_industrial_dom_cons"/>
            <entry key="101" type="xstring" value="soybean_price"/>
            <entry key="102" type="xstring" value="soybean_production"/>
            <entry key="103" type="xstring" value="soybean_total_distribution"/>
            <entry key="104" type="xstring" value="soybean_total_supply"/>
            <entry key="105" type="xstring" value="sunflower_beginning_stocks"/>
            <entry key="106" type="xstring" value="sunflower_crush"/>
            <entry key="107" type="xstring" value="sunflower_domestic_consumption"/>
            <entry key="108" type="xstring" value="sunflower_ending_stocks"/>
            <entry key="109" type="xstring" value="sunflower_exports"/>
            <entry key="110" type="xstring" value="sunflower_feed_waste_dom_cons"/>
            <entry key="111" type="xstring" value="sunflower_food_use_dom_cons"/>
            <entry key="112" type="xstring" value="sunflower_imports"/>
            <entry key="113" type="xstring" value="sunflower_industrial_dom_cons"/>
            <entry key="114" type="xstring" value="sunflower_price"/>
            <entry key="115" type="xstring" value="sunflower_production"/>
            <entry key="116" type="xstring" value="sunflower_total_distribution"/>
            <entry key="117" type="xstring" value="sunflower_total_supply"/>
            <entry key="118" type="xstring" value="vegetable_oil_beginning_stocks_usda"/>
            <entry key="119" type="xstring" value="vegetable_oil_crush_usda"/>
            <entry key="120" type="xstring" value="vegetable_oil_domestic_consumption_usda"/>
            <entry key="121" type="xstring" value="vegetable_oil_ending_stocks_usda"/>
            <entry key="122" type="xstring" value="vegetable_oil_exports_usda"/>
            <entry key="123" type="xstring" value="vegetable_oil_feed_waste_dom_cons_usda"/>
            <entry key="124" type="xstring" value="vegetable_oil_food_use_dom_cons_usda"/>
            <entry key="125" type="xstring" value="vegetable_oil_imports_usda"/>
            <entry key="126" type="xstring" value="vegetable_oil_industrial_dom_cons_usda"/>
            <entry key="127" type="xstring" value="vegetable_oil_production_usda"/>
            <entry key="128" type="xstring" value="vegetable_oil_total_distribution_usda"/>
            <entry key="129" type="xstring" value="vegetable_oil_total_supply_usda"/>
            <entry key="130" type="xstring" value="vegetable_oils_consumption_oecd"/>
            <entry key="131" type="xstring" value="vegetable_oils_ending_stocks_oecd"/>
            <entry key="132" type="xstring" value="vegetable_oils_exports_oecd"/>
            <entry key="133" type="xstring" value="vegetable_oils_food_fat_availability_oecd"/>
            <entry key="134" type="xstring" value="vegetable_oils_food_oecd"/>
            <entry key="135" type="xstring" value="vegetable_oils_human_consumption_per_capita_oecd"/>
            <entry key="136" type="xstring" value="vegetable_oils_imports_oecd"/>
            <entry key="137" type="xstring" value="vegetable_oils_other_use_oecd"/>
            <entry key="138" type="xstring" value="vegetable_oils_production_oecd"/>
            <entry key="139" type="xstring" value="&lt;any unknown new column&gt;"/>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.columnresorter.ColumnResorterNodeFactory"/>
    <entry key="node-name" type="xstring" value="Column Resorter"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.5.1.v202201171147"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.5.2.v202203141441"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Column Resorter"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 266, Cols: 139"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="e32351a4-ac68-469d-b566-5fa554723951"/>
    </config>
</config>
