<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="include-list_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_columnfilter"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="include-list">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="35"/>
                <entry key="0" type="xstring" value="vegetable-oil_price"/>
                <entry key="1" type="xstring" value="vegetable-oil_oecd_world-price"/>
                <entry key="2" type="xstring" value="coconut_exports"/>
                <entry key="3" type="xstring" value="cottonseed_exports"/>
                <entry key="4" type="xstring" value="olive_exports"/>
                <entry key="5" type="xstring" value="palm_exports"/>
                <entry key="6" type="xstring" value="palm-kernel_exports"/>
                <entry key="7" type="xstring" value="peanut_exports"/>
                <entry key="8" type="xstring" value="rapeseed_exports"/>
                <entry key="9" type="xstring" value="soybean_exports"/>
                <entry key="10" type="xstring" value="sunflower_exports"/>
                <entry key="11" type="xstring" value="coconut_production"/>
                <entry key="12" type="xstring" value="cottonseed_production"/>
                <entry key="13" type="xstring" value="olive_production"/>
                <entry key="14" type="xstring" value="palm_production"/>
                <entry key="15" type="xstring" value="palm-kernel_production"/>
                <entry key="16" type="xstring" value="peanut_production"/>
                <entry key="17" type="xstring" value="rapeseed_production"/>
                <entry key="18" type="xstring" value="soybean_production"/>
                <entry key="19" type="xstring" value="sunflower_production"/>
                <entry key="20" type="xstring" value="vegetable-oil_exports"/>
                <entry key="21" type="xstring" value="vegetable-oil_production"/>
                <entry key="22" type="xstring" value="vegetable-oil_oecd_biodiesel-production-from-commodity"/>
                <entry key="23" type="xstring" value="vegetable-oil_oecd_biofuel-use"/>
                <entry key="24" type="xstring" value="vegetable-oil_oecd_consumption"/>
                <entry key="25" type="xstring" value="vegetable-oil_oecd_ending-stocks"/>
                <entry key="26" type="xstring" value="vegetable-oil_oecd_exports"/>
                <entry key="27" type="xstring" value="vegetable-oil_oecd_food"/>
                <entry key="28" type="xstring" value="vegetable-oil_oecd_food-fat-availability"/>
                <entry key="29" type="xstring" value="vegetable-oil_oecd_food-protein-availability"/>
                <entry key="30" type="xstring" value="vegetable-oil_oecd_human-consumption-per-capita"/>
                <entry key="31" type="xstring" value="vegetable-oil_oecd_imports"/>
                <entry key="32" type="xstring" value="vegetable-oil_oecd_other-use"/>
                <entry key="33" type="xstring" value="vegetable-oil_oecd_production"/>
                <entry key="34" type="xstring" value="vegetable-oil_oecd_total-calorie-availability"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="1"/>
                <entry key="0" type="xstring" value="year"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <config key="possibleValuesCount_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="possibleValuesCount" type="xint" value="50"/>
        <config key="pvalAlternative_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="pvalAlternative" type="xstring" value="GREATER"/>
        <config key="columnPairsFilter_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="columnPairsFilter" type="xstring" value="COMPATIBLE_PAIRS"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <config key="nodecontainer_message">
        <entry key="type" type="xstring" value="WARNING"/>
        <entry key="message" type="xstring" value="Some numeric column(s) contained missing values: &quot;coconut_price&quot;, &quot;crude-average_price&quot;, &quot;palm_price&quot;, &quot;peanut_price&quot;, &lt;24 more&gt;..."/>
    </config>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.correlation.compute2.CorrelationCompute2NodeFactory"/>
    <entry key="node-name" type="xstring" value="Linear Correlation"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.5.1.v202201171147"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.5.2.v202203141441"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Linear Correlation"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 903, Cols: 5"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 43, Cols: 43"/>
            <entry key="port_dir_location" type="xstring" value="port_2"/>
        </config>
        <config key="port_3">
            <entry key="index" type="xint" value="3"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.base.node.preproc.correlation.pmcc.PMCCPortObjectAndSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.base.node.preproc.correlation.pmcc.PMCCPortObjectAndSpec"/>
            <entry key="port_object_summary" type="xstring" value="Correlation values on 43 columns"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_3"/>
        </config>
    </config>
    <config key="internalObjects">
        <entry key="location" type="xstring" value="internalTables"/>
        <config key="content">
            <config key="object_0">
                <entry key="index" type="xint" value="0"/>
                <entry key="type" type="xstring" value="table"/>
                <entry key="table_dir_location" type="xstring" value="object_0"/>
            </config>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="ed3080e5-9859-49b5-b9b8-1f9a2e52693c"/>
    </config>
</config>
